
*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: rgb(97, 58, 58);
    border-right: 1px solid white;
    float: left;
    height: 200vh;
    width: 25%;
    box-sizing: border-box;
    padding:10px;
}

.rasm{
    border-bottom: 1px solid green;
    height: 50vh;
    box-sizing: border-box;
}
.rasm h1{
    margin-top: 8vh;
    text-align: center;
    
}
.main img{
  border-radius: 150px;
  width: 80%;
  margin-left: 10%;
}

.contact{
    padding: 10px;
    height: 50vh;
    box-sizing: border-box;
    
}
.contact_information{
    color: blue;
    border-bottom: 1px solid white;
    padding: 10px;
    font-size: 25px;
}

.contact_information img
{
    margin-left: 50px;
    width: 25px;
}
.contact_information{
    padding: 20px;
    margin: auto;
}
.skill{
    border-bottom: 1px solid white;
    height: 50vh;
    font-size: 50px;
    box-sizing: border-box;
}


.skill h5{
    margin-left: 100px;
}

.content{
    float: right;
    box-sizing: border-box;
    width: 75%;
    height: 200vh;
    background-color: rgb(90, 104, 90);
}
.content_source{
    margin-top: 40px;
    margin-bottom: 40px;
}